# Assignment 20

# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [116]:
test1 = 'This is a test of the emergency text system'
outfile = open('test.txt', 'wt')
outfile.write(test1)

43

In [117]:
outfile.close()

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [124]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
test1 == test2

True

# 3. Create a CSV file called books.csv by using these lines:
title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [125]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [130]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table books (title text, author text, year int)''')
db.commit()

# 5. Read books.csv and insert its data into the book table.

In [132]:
import csv
import csv
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
db.commit()

# 6. Select and print the title column from the book table in alphabetical order.

In [133]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)
for row in db.execute(sql):
    print(row[0])

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 7. From the book table, select and print all columns in the order of publication.

In [134]:
for row in db.execute('select * from book order by year'):
    print(row)
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [140]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
     print(row)

('The Spellman Files', 'Lisa Lutz', 2007)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [141]:
!pip install redis

Collecting redis

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Requirement already satisfied: packaging>=20.4 in c:\python39\lib\site-packages (from redis) (21.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting wrapt<2,>=1.10
  Downloading wrapt-1.14.1-cp39-cp39-win_amd64.whl (35 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\python39\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: wrapt, deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4 wrapt-1.14.1

import redis conn = redis.Redis() conn.delete('test') 1 conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'}) True conn.hgetall('test') {b'name': b'Fester Bestertester', b'count': b'1'}

laser - disintegrate, claw - crush, smartphone - ring